@model List<Tarea_QuieroPizza.Web.Models.ProductoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@foreach (var prodcuto in Model)
{
    <p>@prodcuto.id @prodcuto.Descripcion</p>
}

